* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

body {
    font-family: var(--font-open-sans);
}
  
a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;  
}
   /* HEADER SECTION */

.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 2em;
    font-weight: 300;
    color: var(--color-primary);
}

.header__nav {
    display: flex;
}

.nav__link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 30px 20px 20px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.2em
}
  
.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}


/* OPENING SECTION */

.opening_img {
    width: 100%;
    height: auto;
}
.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening_container {
    text-align: center;
    margin-top: 130px;
}

.opening_h1 {
    font-family: var(--font-raleway);
    font-size: 3em;
}
  
.opening_par {
    margin-top: 20px;
    margin-bottom: 38px;
}

.opening_btn {
    color: var(--color-white);
    font-weight: bold;
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    padding: 23px 157px;
    display: inline-block;
}
  
 
/* STATISTIC SECTION */ 

.statistic_h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 100px;
}

.statistic_container {
    display: flex;
    justify-content: space-evenly;

}

.statistic_column {
    text-align: center;
    font-family: var(--font-raleway);
    margin-top: 100px;
}

.circle {
    min-height: 48px;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5em;
}


.circle span {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    border: none;
    position: relative;
    left: 30px;
    z-index: 1;
}

.statistic_img {
    z-index: 2;
}

.circle_red {
    background-color: var(--color-redish);
}

.circle_blue {
    background-color: var(--color-primary);
}

.circle_green {
    background-color: var(--color-green);
}

.statistic_numbers {
    font-family: var(--font-raleway);
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
    margin-top: 15px;
}

.statistic_text {
    font-family: var(--font-raleway);
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: var(--color-grey);
    margin-top: 19px;
}

/* BENEFITS SECTION */ 